* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-image: url("../img/background2.png");
}

header {
  background-image: url("../img/basement.png");
  height: auto;
}

nav {
  background-image: url("../img/basement.png");
  width: 100%;
  height: 80px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-list {
  display: flex;
  gap: 10px;
}
nav .nav-list li {
  list-style: none;
}
nav .nav-list li a {
  text-decoration: none;
}
nav .nav-element {
  margin: 10px;
}

img {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

footer {
  width: 100%;
  position: page;
  left: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  background-image: url("../img/basement.png");
  height: 150px;
  background-size: contain;
}
footer .content-footer {
  font-family: Castellar, sans-serif;
  color: darkgoldenrod;
  font-size: 24pt;
  font-max-size: 48pt;
  font-min-size: 8pt;
  text-shadow: red 1px 1px;
  font-stretch: ultra-expanded;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: outset 30px saddlebrown;
  background-color: cornflowerblue;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.button {
  background-color: saddlebrown;
  border: outset 3px #665500;
  text-align: center;
  padding: 2px;
  width: 75px;
  font-stretch: ultra-expanded;
  color: white;
}

.container-signUp .content-signUp .space-between {
  padding: 2px;
}

.container-profile .content-profile {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.container-profile .content-profile p {
  padding-bottom: 2px;
}

.container-ticket .content-ticket {
  margin: 5%;
}

.marg1 {
  margin: 3%;
}

@media screen and (min-device-width: 900px) {
  .content {
    font-size: 50px;
  }

  .button {
    font-size: 50px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  nav {
    height: 200px;
  }
}
@media screen and (max-device-width: 700px) {
  .content {
    font-size: 40px;
  }

  .button {
    font-size: 40px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  nav {
    height: 200px;
  }
}